.portfolio-navbar {
  background-color: #001f3f;
}

.navbar-logo {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  
}

.portfolio-navbar .navbar-brand,
.portfolio-navbar .nav-link {
  color: #fff;
}

.portfolio-navbar .nav-link:hover,
.portfolio-navbar .nav-link:focus,
.portfolio-navbar .nav-link.active {
  color: #fff;
}
